

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Shared Style */
.secondary-bg{
    background-color: #3B3B4F;
}
.font-primary {
    color: #ff5722;
}

.section-title{
    font-size: 35px;
    font-weight: bold;
    color: white;
}

.section-description{
    font-size: 18px;
    color: #757575;

}

.text-center {
    text-align: center;
}

/* Nav Styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 200px;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}

.dark-2 {
    color: #474747;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin-right: 51px;
}

nav ul li a{
    text-decoration: none;
    font-size: 20px;
}



.btn-primary {
    background-color: cyan;
    font-weight: bold;
    color: black;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

.profile-image {
    width: 580px;
    height: 600px;
}


/* Banner Styles */
.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 35px 0 200px;

}

.banner-content {
    max-width: 580px;
}

.banner-greetings {
    font-size: 45px;
    font-weight: 600;
}

.banner-title {
    font-size: 85px;
    font-weight: bold;
}

/* Header style */
.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}



/* Main Styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}

main section{
    margin-top: 130px;
}

/* About styles */
.about{
    border-radius: 10px;
    padding: 130px 130px;
    text-align: center;
    
}
#about-title{
    color: black;
}


.about-items {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
    color: black;

}

#about-me{
    box-shadow: 0px 6px 50px 0px orange;
}

.btn-primary:hover{
    background-color: orange;
}

.item-description {
    font-weight: 600;
}

/* Skills Style */
.skill-container {
    display: flex;
    gap: 24px;
}

.skill {
    padding: 30px;
    box-shadow: 0px 6px 50px 0px orange;
    border-radius: 5px;

}

.inside-bg{
    background-color: white;
}

/* Resume styles */
.resume-container{
    display: flex;
    gap: 24px;
    justify-content: space-around;
}

.resume-column-title{
    font-size: 30px;
    font-weight: bold;
    color: #474747;
}

.experience-title{
    font-size: 25px;
    font-weight: bold;
    color: #474747;
}

.experience-sub-title{
    font-size: 20px;
    font-weight: 600;
    color: #757575;
    margin-bottom: 20px;
}

.experience-description{
    font-size: 16px;
    font-weight: 400;
    color: #757575;
}

.resume hr{
    margin: 30px 5px;
}

.section-title{
    text-align: center;
}

/* resume Styles */
.resume{
    margin-bottom: 113px;
}
.resume img{
    height: 80px;
    width: 100px;
}

.resume-download-cv{
    margin-top: 50px;
}

/* Footer Styles */
footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}

.footer-column{
    width: 50%;
}

footer input[type="text"], footer input[type="email"], footer textarea{ 
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}

body{
    background-color: black;
    color: white;
}

/* Responsive Media Query */
.hide {
    display: none;
}

@media screen and (max-width: 576px) {
    .skill-container, .resume-container, footer, .about-items, .banner, nav, nav>ul{
        flex-direction: column;
    }

    nav >ul{
        gap: 20px;
    }

    .btn-primary{
        margin-bottom: 20px;
    }
    footer, .about{
        padding: 20px;
    }

    .header{
        background-image: none
    }

    .banner{
        margin: 20px;
    }

    .profile-image{
        width: 100%;
        height: auto;
    }
    .footer-column {
        width: 100%;
    }

    footer input[type="text"], footer input[type="email"], footer textarea{
        width: calc(100% - 40px);
    }

    .experience img{
        width: 50%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
    
}

@media screen and (min-width: 412px) and (max-width: 915px) {
     .skill-container, .resume-container, footer, .about-items, .banner, nav, nav>ul{
        flex-direction: column;
    }

    nav >ul{
        gap: 20px;
    }

    .btn-primary{
        margin-bottom: 20px;
    }
    footer, .about{
        padding: 20px;
    }

    .header{
        background-image: none
    }

    .banner{
        margin: 20px;
    }

    .profile-image{
        width: 100%;
        height: auto;
    }
    .footer-column {
        width: 100%;
    }

    footer input[type="text"], footer input[type="email"], footer textarea{
        width: calc(100% - 40px);
    }

    .experience img{
        width: 50%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
    
}